<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset
            name="partner"
            label="COM_COMPANYPARTNERS_FIELD_CONFIG_INDIVIDUAL_PARTNER_DISPLAY"
            description="COM_COMPANYPARTNERS_FIELD_CONFIG_INDIVIDUAL_PARTNER_DESC"
    >
        <field
                name="show_partner_name_label"
                type="radio"
                class="btn-group btn-group-yesno"
                label="COM_COMPANYPARTNERS_FIELD_PARTNER_SHOW_CATEGORY_LABEL"
                default="1"
        >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
    >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                validate="rules"
                filter="rules"
                component="com_companypartners"
                section="component"
        />

    </fieldset>
</config>
